<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화사조</title>
    <link rel="stylesheet" href="/static/bootstrap.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 100px;">
        <div class="container-fluid">
            <a class="navbar-brand" href='/' style="font-size: 30px;font-weight: bold;">영화사조: 당신만을 위한 영화 추천</a>
            <div>
                <form action="." method="POST">
                    {% csrf_token %}
                    <input id="searchId" placeholder="영화를 검색해보세요! (영어로 제목을 입력)" name="search"
                        style="width: 450px; font-size: 18px;"><button type="submit" class="btn btn-primary btn-lg"
                        style="font-size: 22px;font-weight: bold;" onclick="keywords()">검색</button>
                </form>
            </div>
    
        </div>
    </nav>
    <br>
    <br>
    <div class="container">
        <form action="/output" method="POST">
            {% csrf_token %}
            <select name="sort">
                <option value="a_asc">Alphabet Asc.</option>
                <option value="a_desc">Alphabet Desc.</option>
                <option value="r_asc">Oldest</option>
                <option value="r_desc">Newest</option>
                <option value="rating">Rating</option>
            </select>
            <button type="submit" class="btn btn-primary btn-lg">Sort</button>
        </form>
    </div>

    <div class="container">
        <br>
        {% if '1' in nothing %}
            <h2>No Movies found.</h2>
        {% endif %}
        {% for movie in movies %}
            <h1>{{ movie.0 }}</h1><br>
            {% if movie.3|length %}
                <img src={{movie.3}}><br>
            {% else %}
                <h2>[No Image.]</h2>
            {% endif %}
            <br>
            Genre : |
            {% for genre in movie.8 %}
                {{ genre }} |
            {% endfor %}
            <br>
            <br>
            Director : {{ movie.2 }}<br><br>
            Main Actor : {{ movie.1 }}<br><br>
            Released Date : {{ movie.6 }}<br><br>
            Overview : {{ movie.5 }}<br><br>
            Vote Average : {{ movie.4 }}<br><br>
            <br><br><br>
        {% endfor %}
        <br>
        <br>
        <span style="font-size: 22px;font-weight: bold">Share on </span>
        {% load social_share %}
        <button type="button" class="btn btn-outline-primary" style="font-size: 18px;font-weight: bold">{% post_to_facebook post.get_absolute_url "Facebook" %}</button>
        <button type="button" class="btn btn-outline-primary" style="font-size: 18px;font-weight: bold">{% post_to_twitter "text" post.get_absolute_url "Twitter" %}</button>
        
        <form action="/output" method="POST">
            {% csrf_token %}
            <br><span style="font-size: 22px;font-weight: bold">결과를 사진으로 저장하기 </span>
            <a href="/static/movie_result.png" download="moviesajo.png" style="font-size: 22px;font-weight: bold">Click</a>

        </form>
        <br><br>
        <button type="submit" class="btn btn-primary btn-lg" style="font-size: 22px;font-weight: bold" onclick="location.href='/'">Retry</button>
        <br><br><br><br><br><br><br><br><br><br>
    </div>
</body>

</html>