<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화사조</title>
    <link rel="stylesheet" href="/static/bootstrap.css" />
</head>

<body>
    <div class="container">
        <h1><br>영화 추천 결과 보여주는 페이지 ~<br></h1>
        
        <!--<button class="btn btn-primary btn-block" onclick="location.href=''>Retry! </button>-->
        <br>
        {% if '1' in nothing %}
            <h2>No Movies found.</h2>
        {% endif %}
        {% for movie in movies %}
            <h1>{{ movie.0 }}</h1><br>
            <img src={{movie.3}}><br>
            Director : {{ movie.2 }}<br><br>
            Main Actor : {{ movie.1 }}<br><br>
            Released Date : {{ movie.6 }}<br><br>
            Overview : {{ movie.5 }}<br><br>
            Vote Average : {{ movie.4 }}<br><br>
            <br><br><br>
        {% endfor %}
        <br>
        <br>
        <span>Share on </span>
        {% load social_share %}
        <button type="button" class="btn btn-outline-primary">{% post_to_facebook post.get_absolute_url "Facebook" %}</button>
        <button type="button" class="btn btn-outline-primary">{% post_to_twitter "text" post.get_absolute_url "Twitter" %}</button>
        
        <form action="/output" method="POST">
            {% csrf_token %}
            <br><span>결과를 사진으로 저장하기 </span>
            <button type="submit" class="btn btn-outline-primary">Click</button>
        </form>
        <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='/'">Retry</button>
    </div>
</body>

</html>