
.explain{
    color: #78c2ad;
    font-weight: 500;
}
/*
.form-group{
    
    padding-left: 60px;
}*/
.error{
    /*padding-left: 60px;
    position:absolute;*/
    font-size: 20px;
}
.fieldWrapper{
    font-size: 18px;
}
